---
layout: null
title: francescaviscido.github.io - Home Page 
description: Pagina personale della Dott.ssa Francesca Viscido
sitemap:
    priority: 1.0
    lastmod: 2022-05-13
    changefreq: weekly
---
<!DOCTYPE HTML>

<html>
	<head>
	<!-- Scripts -->
	{% include scripts-main.html %}
    {% include tracking.html %}
	{% include head.html %}
	
    
	


	</head>
	<body class="is-loading">

		<!-- Wrapper -->
			<div id="wrapper" class="fade-in">
			

				<!-- Intro -->
					<div id="intro">
            			<h1>{{site.title}}</h1>
						<h2>Psicologa e pscicoterapeuta</h2>
					<!--	<p> Benvenuto! </p>-->
						<div id="stepone" style="margin-bottom: 40px;"> </div>
						<!--<img id="foot" style="width:50px; opacity: 0.0; margin-bottom: 20px;" src="{{ "/images/footprint.png" | absolute_url }}" alt="" />
						-->
						<ul class="actions">
							<li><a href="#header" class="button icon solo fa-arrow-down scrolly">Continue</a></li>
						</ul>
					</div>
				
					<script>
					
						var app = document.getElementById('stepone');
	
						var typewriter = new Typewriter(app, {
							loop: false
						});
	
						typewriter.typeString('Benvenuto! Nella mia pagina personale.')
							.pauseFor(1000)
							.deleteAll()
						    .typeString('Arrivando fino a qui!  ')
							.pauseFor(400)
							.typeString('Hai fatto il primo passo ...')
							.pauseFor(1500)
							.deleteAll()
							.typeString('Quindi è arrivato il momento di andare avanti e fare il secondo passo.')
							.start();
							/*function doSomething() {
								
								if ($('#stepone').html().includes("secondo.")){
									$('#foot').css('opacity', 1.0);
									return;
								}

								if($('#foot').css('opacity') == 0.0){
									$('#foot').css('opacity', 1.0);
									//$('#foot').fadeIn();
								} else{
									//$('#foot').fadeOut();
									$('#foot').css('opacity', 0.0);
								}
								setTimeout(doSomething, 800);
								
							}

							setTimeout(doSomething, 4500);*/
						
					</script>
				<!-- Header -->
					<header id="header">
						<a href="{{ "/" | absolute_url }}" class="logo">{{site.title}}</a>
					</header>

				<!-- Nav -->
					<nav id="nav">

            {% include nav.html %}

					</nav>

				<!-- Main -->
					<div id="main">
						<!-- Featured Post -->
							<article class="post featured">
								<header class="major">
									
									<h2 >Possiamo scoprire insieme la tua prossima scelta!</h2>
									<br>
									<span style="font-style: italic;">Il mio metodo si basa sull'empatia tra paziente e terapeuta.</span>
									
									<br>
									Scopri nella sezione <a href="/chisono">Chi Sono</a> il mio cammino professionale.
								
								</header>
								<a href="#" class="image main"><img src="{{ "/images/bg03.jpg" | absolute_url }}" alt="" /></a>
								<h3>In breve su di me</h3>
								<p>Sono una psicologa e pscicoterapeuta ad orientamento <a href="">Cognitivo Comportamentale</a>, esperta nel 
				trattamento del disturbo d'ansia, .......</p>
                <p>Mi occupo di terapia individuale, di coppia, e familiare. Ricevo presso la città di Avellino, ne pressi della 
					clinica Malzoni, viale Platani, e nella città di Battipaglia. Inoltre, è possibile richiedere 
				sessioni di terapia online.</p>
			 	<button onclick="scrollToAnchor('footer')" type="button" >Richiedi un appuntamento</button>

							</article>

						<!-- Posts -->
							<section class="posts">
								<h3>Articoli recenti del mio blog</h3>
                {% for post in site.posts limit:2 %}
                <!-- {% assign mod3 = forloop.index | modulo: 3 %} -->
  								<article>
  									<header>
  										<span class="date">{{ post.date | date_to_string }}</span>
  										<h2><a href="{{ post.url | absolute_url }}">{{ post.title }}</a></h2>
  									</header>
  									<a href="{{ post.url | absolute_url }}" class="image fit"><img src="{{ post.image | absolute_url }}" alt="" /></a>
  									<p>{{ post.excerpt }}</p>
  									<ul class="actions">
  										<li><a href="{{ post.url | absolute_url }}" class="button">leggi l'articolo</a></li>
  									</ul>
  								</article>
                  <!-- {% if mod3 == 0 %}
                  <article>
  									<header>
  										<h2><a href="#">Sponsored</a></h2>
  									</header>

  								</article>
                  {% endif %} -->
                {% endfor %}

							</section>

						
							<footer>
							<ul class="actions">
							<li><a href="{{ "/blog/" | absolute_url }}" class="button">Visita il mio Blog</a></li>
							</ul>
							</footer>

					</div>

				<!-- Footer -->
        {% include foot.html %}

			</div>

		

	</body>
</html>
