<footer id="footer">
  <section>
    <h2>Scrivimi qui per prendere un appuntamento</h2>
    Ti ricontatterò in giornata, altimenti se preferisci puoi telefonarmi
    <form method="POST" action="https://api.slapform.com/{{site.email}}">
      <div class="field">
        <label for="name">Nome</label>
        <input type="text" name="name" id="name" />
      </div>
      <div class="field">
        <label for="email">Email</label>
        <input type="email" name="slap_replyto" id="email" /> <!-- slap_replyto will set the reply-to as the submitter's email! -->
      </div>
      <div class="field">
        <label for="message">Testo</label>
        <textarea name="message" id="message" rows="3"></textarea>
      </div>
      <ul class="actions">
        <li><input type="submit" value="Invia messaggio" /></li>
      </ul>
      <input type="hidden" name="slap_redirect" value="{{site.url}}{{site.slapform_thankyou_page}}" /> <!-- slap_redirect allows you to set a custom redirect/thank you page -->
    </form>
  </section>
  <section class="split contact">
    <section class="alt">
      <h3>Dove Ricevo</h3>
      <!---->
      <p style="margin-left:50px;">
      <ul class="icons alt">
        <li><a href="https://www.google.it/maps/place/Casa+Di+Cura+Malzoni+Villa+Platani+Spa/@40.9117914,14.7727151,17z/data=!3m2!4b1!5s0x133bcc69d26d527b:0xda0b7501e51fb647!4m5!3m4!1s0x133bcc69d3f27e9d:0xb75054a7ffe9efe8!8m2!3d40.9117914!4d14.7749038" class="icon fa-map-marker" rel="nofollow"><span> Avellino, nei pressi della clinica Malzoni</span></a></li>
        <li><a href="https://www.google.it/maps/place/84091+Battipaglia+SA/@40.6084677,14.977797,15z/data=!3m1!4b1!4m5!3m4!1s0x133be08899567c5f:0xd13e0227d8864868!8m2!3d40.6093746!4d14.9808362" class="icon fa-map-marker" rel="nofollow"><span> Battipaglia</span></a></li>
        <li><a href="" class="fa-regular fa-headset" rel="nofollow"><span> Da remoto in videoconferenza</span></a></li>

      </ul>
     </p>
    </section>
    <section>
      <h3>Contatto telefonico</h3>
      <p><a href="tel:{{site.phone}}">{{site.phone}}</a></p>
    </section>
    <section>
      <h3>Email</h3>
      <p><a href="mailto:{{site.email}}">{{site.email}}</a></p>
    </section>
    <section>
      <h3>Social</h3>
      <ul class="icons alt">
        <li><a href="https://twitter.com/{{site.twitter}}" class="icon fa-twitter" rel="nofollow"><span class="label">Twitter</span></a></li>
        <li><a href="https://facebook.com/{{site.facebook}}" class="icon fa-facebook" rel="nofollow"><span class="label">Facebook</span></a></li>
        <li><a href="https://instagram.com/{{site.instagram}}" class="icon fa-instagram" rel="nofollow"><span class="label">Instagram</span></a></li>
      </ul>
    </section>
  </section>
</footer>
<!-- Copyright -->
<div id="copyright">
  <ul><li>&copy; Dott.ssa Francesca Viscido - 2022</li><li>Design by spagnuolocarmine@gmail.com</a></li></ul>
</div>
